.recipe {
    max-width: 1200px;
    margin: 40px 100px;
    text-align: center;
    background: #fff;
    padding: 20px;
    box-sizing: border-box;
}

@media screen and (max-width: 600px) {
    .recipe {
        margin: 20px 50px;
    }
}

@media screen and (max-width: 400px) {
    .recipe {
        margin: 20px 20px;
    }
}

.recipe ul {
    display: flex;
    padding: 0;
    justify-content: center;
    margin-top: 0;
    flex-wrap: wrap;
}

.recipe li {
    list-style-type: none;
    margin-right: 10px;
    color: #777;
}

.recipe li::after {
    content: ",";
}

.recipe li:last-child::after {
    content: ".";
}

.method {
    text-align: left;
    line-height: 1.5em;
}

/* dark mode */
.recipe.dark {
    background: #555;
    color: #e4e4e4;
}